.navbar-brand{
	font-size: 40px; font-family: recursive; font-weight: bolder;
    text-shadow: 4px 5px 4px black;
}
.menu .nav-link{ font-size: 20px; }
.remark{ height: 200px; }
.nav-item{ margin:0 10px; }
.nav-link:hover{ color: #3490dc !important; }

.options .card .card-header:hover{ background: #3490dc; color: white; }